{{#if error}}

  <p class='error'>
    There was an error: <span>{{error}}</span>
  </p>

{{else}}

  {{#each model as |user|}}
    <div data-test-id="user">
      <form {{action 'updateUser' user on="submit"}}>
        {{input value=user.name}}
        <button>Save</button>
        <button {{action 'deleteUser' user}}>Delete</button>
        <span>
          {{#if user.isSaving}}
            Saving...
          {{else if user.id}}
            Saved
          {{/if}}
        </span>
      </form>
    </div>
  {{/each}}

{{/if}}

<hr>

<div>
  <form {{action 'createUser' on='submit'}}>
    <div>
      {{input value=newName placeholder='Name'}}
    </div>

    <div>
      <button>
        Create a new user
      </button>
    </div>
  </form>
</div>
