{{#if error}}
  <p class='error'>There was an error: <span>{{error}}</span></p>
{{else}}
  {{#each model as |contact|}}
    <p>{{link-to contact.name 'contact' contact}}</p>
  {{/each}}
{{/if}}

<hr>

<div>
  <div>{{input value=newName placeholder='Name'}}</div>

  <div>
    <button {{action 'createContact'}}>Create a new contact</button>
  </div>
</div>
