{{!-- docs-md is a private class. Can switch once we expose AddonDocs styles publicly. --}}
<div class="blog-detail docs-md">
  {{#link-to "blog" class="blog-detail__back-link"}}
    ← All posts
  {{/link-to}}

  <div class="docs-md">
    <time datetime={{model.meta.publishedAt}}>
      {{moment-format model.meta.publishedAt "MMMM D, YYYY"}}
    </time>

    <h1 class="docs-md__h1">
      {{model.title}}
    </h1>

    {{model.htmlBody}}
  </div>

  <hr class="blog-detail__hr">

  <div class="blog-detail__comments">
    <h2>Comments</h2>

    {{#each model.comments as |comment|}}
      <div class="blog-detail__comment">
        <a class="blog-detail__comment-profile-link" href={{comment.user.profileUrl}}>
          <img class="blog-detail__comment-avatar" src={{comment.user.avatarUrl}} alt="profile">
        </a>

        <div class="blog-detail__comment-body">
          <p class="blog-detail__comment-info">
            <a class="blog-detail__username-link" href={{comment.user.profileUrl}}>
              {{comment.user.username}}
            </a>
            commented
            <a class="blog-detail__comment-permalink" href={{comment.permalink}}>
              {{moment-from comment.createdAt}}
            </a>
          </p>
          {{comment.htmlBody}}
        </div>
      </div>
    {{/each}}

    <p class="blog-detail__comments-github-byline">
      Want to chime in?
      <a href={{model.issueUrl}} class="blog-detail__comments-github-link">
        {{!-- Reply to Issue #{{model.id}}</a>. --}}
        View the thread on GitHub</a>.
    </p>
  </div>
</div>
